n8n_workflows/simple_control_loop.json
{
  "name": "Multi-Agent Control - Simple Demo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "name": "Schedule Every 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "url": "http://agent-api:8000/api/v1/state/current",
        "options": {}
      },
      "name": "Get Current State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "id": "get-state"
    },
    {
      "parameters": {
        "url": "http://agent-api:8000/api/v1/synthesize",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"L1\": {{ $json.L1 }},\n  \"V\": {{ $json.V }},\n  \"F1\": {{ $json.F1 }},\n  \"F2\": {{ $json.F2 }},\n  \"electricity_price\": {{ $json.electricity_price_normal }},\n  \"price_scenario\": \"normal\",\n  \"current_index\": {{ $json.current_index }}\n}",
        "options": {}
      },
      "name": "Run Multi-Agent Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "id": "synthesize"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority_applied }}",
              "operation": "equals",
              "value2": "CRITICAL"
            }
          ]
        }
      },
      "name": "Check if Critical",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300],
      "id": "check-critical"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "alert_type",
              "value": "CRITICAL"
            },
            {
              "name": "message",
              "value": "=🚨 CRITICAL DECISION\n\nTimestamp: {{ $json.timestamp }}\nPriority: {{ $json.priority_applied }}\nConfidence: {{ $json.confidence }}\n\nReasoning:\n{{ $json.coordinator_reasoning }}\n\nEstimated Flow: {{ $json.estimated_flow_m3h }} m³/h\nEstimated Cost: {{ $json.estimated_cost_eur_per_hour }} EUR/h\n\nActive Pumps: {{ $json.pump_commands.filter(cmd => cmd.start).length }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ],
          "number": [
            {
              "name": "confidence",
              "value": "={{ $json.confidence }}"
            },
            {
              "name": "estimated_cost",
              "value": "={{ $json.estimated_cost_eur_per_hour }}"
            }
          ]
        }
      },
      "name": "Format Critical Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 200],
      "id": "format-alert"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority_applied }}"
            },
            {
              "name": "summary",
              "value": "=Decision logged: {{ $json.pump_commands.filter(cmd => cmd.start).length }} pumps active, flow {{ $json.estimated_flow_m3h }} m³/h, cost {{ $json.estimated_cost_eur_per_hour }} EUR/h"
            }
          ],
          "number": [
            {
              "name": "total_pumps_active",
              "value": "={{ $json.pump_commands.filter(cmd => cmd.start).length }}"
            },
            {
              "name": "estimated_flow",
              "value": "={{ $json.estimated_flow_m3h }}"
            },
            {
              "name": "estimated_cost",
              "value": "={{ $json.estimated_cost_eur_per_hour }}"
            },
            {
              "name": "confidence",
              "value": "={{ $json.confidence }}"
            }
          ]
        }
      },
      "name": "Format Normal Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 400],
      "id": "format-normal"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "id": "merge"
    }
  ],
  "connections": {
    "Schedule Every 15min": {
      "main": [
        [
          {
            "node": "Get Current State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current State": {
      "main": [
        [
          {
            "node": "Run Multi-Agent Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Multi-Agent Decision": {
      "main": [
        [
          {
            "node": "Check if Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Critical": {
      "main": [
        [
          {
            "node": "Format Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Normal Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Critical Alert": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Normal Response": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "1",
      "name": "wastewater"
    },
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "2",
      "name": "demo"
    }
  ],
  "meta": {
    "instanceId": "demo"
  }
}
